*{
   margin: 0;
    padding: 0;
    
    color: azure;
    
    font-family: 'Orbitron';
    
    
    
}
nav{
    background-color: transparent;
    color:rgb(46, 224, 46);
}
html , body{
    background-color: black;
}
section h1 , section h2{
    color:rgb(46, 224, 46);
    
}
  

.cabeza{
    width: 100%;
    height: 35vh;
    background: url(img/ban.jpg) no-repeat 50% 50%;
    background-size: cover;
}
footer{
  
  width: 100%;
  height: 40px;
}



#uno{
    background: url(img/ban.jpg) no-repeat 50% 50%;
}
#img-p{
    width: 30vh;
    height: 30vh;
}
#perfil{
    margin-top: 5vh;
}

section {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: black;
  }


.card-img{
    height: 100%;
}
.card-text{
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: azure;
}
section .btn{
    margin: 2px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
section .card{
    background-color: black;
}
.card-body{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
section a{
    text-decoration: none;
    color: rgb(46, 224, 46); ;
}
section .card-header{
    color: azure;
}
.info{
    display: none;
}
.show{
    display: block;
}
.col-12{
    display: flex;
    justify-content: center;
    align-items: center;
}
p , h5{
    font-family:  'Andika';
}
.container-fluid .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(53, 234, 53)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }



.e:hover{animation:rotate-center 2s} @keyframes rotate-center{0%{transform:rotate(0)}100%{transform:rotate(360deg)}}
.f:hover{animation:rotate-diagonal-right 1.4s;} @keyframes rotate-diagonal-right{0%{transform:rotate3d(1,1,0,0deg)}50%{transform:rotate3d(1,1,0,-180deg)}100%{transform:rotate3d(1,1,0,-360deg)}}
